version: '3.8'

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault_server
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=myroot
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    healthcheck:
      test: ["CMD", "vault", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  cdn-app:
    build: .
    container_name: rust_cdn_v1
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=myroot
      - STORAGE_PATH=/app/uploads
      - RUST_LOG=info
    volumes:
      # Bilgisayarındaki 'uploads' klasörünü konteynere bağla
      # Map 'uploads' folder on host to container
      - ./uploads:/app/uploads
    depends_on:
      vault:
        condition: service_healthy